.customer-top-line {
  margin-top: 110px;
}

.customers {
  .title {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    margin-top: 30px;
    margin-bottom: -5px;
  }

  .images {
    text-align: center;
    margin-bottom: 30px;

    .logo {
      display: inline-block;
      margin: 20px 35px;
      padding: 0;
      background-repeat: no-repeat;
      background-size: 100% 100%;
    }

    .logo-cinema-ticket {
      width: 100px;
      height: 22px;
      background-image: url("../../images/customer/cinematicket_dark.svg");
    }

    .logo-shahrzad {
      width: 69px;
      height: 40px;
      background-image: url("../../images/customer/shahrzad.svg");
    }

    .logo-tagmond {
      width: 138px;
      height: 20px;
      background-image: url("../../images/customer/tagmond.svg");
    }

    .logo-2nate {
      width: 86px;
      height: 30px;
      background-image: url("../../images/customer/2nate.svg");
    }

    .logo-hiholiday {
      width: 120px;
      height: 25px;
      background-image: url("../../images/customer/hiholiday.svg");
    }

    .logo-p24 {
      width: 130px;
      height: 18px;
      background-image: url("../../images/customer/p24.svg");
    }
  }
}
