.footer {
  position: absolute;
  left: 0;
  right: 0;
  padding-top: 80px;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -2;
    width: 610px;
    height: 491px;
    background: url("../../images/footer-gradiant.svg") no-repeat top left;
    background-size: cover;
  }

  ul {
    padding: 0;

    li {
      font-size: $footerTitleFontSize;
      color: $titleFontColor;
      margin: 7px 0;
    }
  }

  .footer-logo {
    margin: 0 auto 40px;
    width: 135px;
    height: 30px;
    background: url("../../images/footer-logo.svg") no-repeat center;
    background-size: contain;
  }

  .social-networks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;

    .icon-link {
      background-color: #f2f3f5;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px;
    }

    .icon {
      display: inline-block;
      transition: opacity 0.3s;

      &:hover {
        opacity: 0.7;
      }
    }

    .telegram {
      background-image: url("../../images/social/telegram.svg");
      width: 24px;
      height: 21px;
    }

    .instagram {
      background-image: url("../../images/social/instagram.svg");
      width: 22px;
      height: 22px;
    }

    .aparat {
      background-image: url("../../images/social/aparat.svg");
      width: 27px;
      height: 27px;
    }

    .twitter {
      background-image: url("../../images/social/twitter.svg");
      width: 25px;
      height: 20px;
    }

    .telegram,
    .instagram,
    .aparat,
    .twitter {
      background-size: 100% 100%;
      background-repeat: no-repeat;
      position: relative;
    }
  }

  .bottom {
    margin: 40px 0 20px;
    text-align: center;

    a {
      margin: 0 20px;
    }

    .copyright {
      span {
        font-size: $footerTitleFontSize;
        margin: 0 20px;
      }
    }
  }
}

@media (max-width: 575px) {
  .footer {
    &::before {
      width: 358px !important;
      height: 285px !important;
    }

    .footer-col {
      padding-right: 25px;
    }
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .footer {
    &::before {
      width: 358px !important;
      height: 285px !important;
    }

    .footer-col {
      padding-right: 40px;
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .social-networks {
    margin-top: 30px !important;
    text-align: right !important;
  }
}
 
