input,
textarea,
select {
  box-sizing: border-box;
  border: 1px solid #c3c6cd;
  background-color: rgba(242, 243, 245, 0.5);
  padding: 10px;
  width: 100%;
  font-family: $fontFamily;
  margin-bottom: 12px;
  border-radius: 4px;
  transition: all 0.3s ease;
}

input:focus,
textarea:focus,
select:focus {
  background-color: #ffffff;
  border-color: #f9d042;
  box-shadow: 0 0 8px rgba(249, 208, 66, 0.8);
  outline: none;
}

input {
  height: 40px;
}

label span {
  color: #6e6e6e;
  font-size: 14px;
  margin-bottom: 8px;
  display: inline-block;
}

.btn {
  display: inline-block;
  border-radius: 6px;
  padding: 8px 30px;
  border: none;
  font-size: 16px !important;
  font-family: IRANSansMedium !important;
  cursor: pointer !important;
  transition: opacity 0.4s ease, box-shadow 0.4s ease;
}

.btn:hover {
  opacity: 0.7;
}

.btn-gold {
  background-image: linear-gradient(45deg, #FFE75A, #F7CB3D) !important;
  box-shadow: 0 5px 10px rgba(255, 214, 71, 0.25);
  color: #584B00 !important;
}

.btn-gold:hover {
  box-shadow: 0 10px 20px rgba(255, 214, 71, 0.35) !important;
}

.btn-normal {
  background-color: #ffffff;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.03);
  color: #303030 !important;
}

.btn-normal:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05) !important;
}
 
