.page-head {
  .image-section {
    position: relative;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: url("../../images/crooked-blue-bg.png") top left no-repeat;
      background-size: cover;
      z-index: -1;
    }
  }

  .description-section {
    position: relative;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 410px;
      background: url("../../images/page-header-light-bg.svg") top left no-repeat;
      background-size: cover;
      z-index: -1;
    }

    .header-title {
      margin-top: 150px;
    }

    .description {
      max-width: 500px;
      padding: 0 20px;
    }
  }
}

@mixin image-section-position($width, $height, $left, $top) {
  &:before {
    width: $width;
    height: $height;
    left: $left;
    top: $top;
  }
}

@mixin description-section-image-position($width, $right, $top) {
  &:before {
    width: $width;
    right: $right;
    top: $top;
  }
}

@media (max-width: 575px) {
  .image-section {
    @include image-section-position(284px, 90px, 0, 0);

    .personal-link-image {
      width: 100% !important;
    }
  }

  .description-section {
    @include description-section-image-position(100%, 0, -60px);

    .header-title {
      margin-top: 50px !important;
    }
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .image-section {
    @include image-section-position(284px, 90px, 0, 0);
  }

  .description-section {
    @include description-section-image-position(100%, 0, 0);

    .header-title {
      margin-top: 50px !important;
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .image-section {
    @include image-section-position(697px, 225px, 0, 0);
  }

  .description-section {
    @include description-section-image-position(100%, 0, 0);

    .header-title {
      margin-top: 50px !important;
    }
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .image-section {
    @include image-section-position(800px, 220px, 0, 0);
  }

  .description-section {
    @include description-section-image-position(1003px, 0, 0);
  }
}

@media (min-width: 1200px) {
  .image-section {
    @include image-section-position(1077px, 280px, 0, 0);
  }

  .description-section {
    @include description-section-image-position(1003px, 0, 0);
  }
}
 
