.page-title {
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  font-size: 28px;
  text-align: center;
  line-height: 80px;
  background: linear-gradient(-135deg, #21254E 0%, #2B4A83 100%);
  padding: 0 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
 
