/* Enhanced and Optimized Responsible Page Styles */
.responsible-page {
  .file-box {
    max-width: 158px;
    height: 138px;
    background-color: #f4f4f4;
    border-radius: 23px;
  }

  .file-box-title {
    font-size: 14px;
    text-align: center;
    color: #2b4a83;
    font-family: IRANSansMedium !important;
  }

  .box-content {
    border: 1px solid #e5e6e7;
    border-radius: 19px;
    margin: 0 35px !important;
    padding: 2px 19px;
    min-height: 131px;

    .header-title {
      font-size: 20px !important;
      color: #14286d !important;
      text-align: right;
      font-family: iransansMedium !important;
    }
  }

  .section-tree {
    .email,
    .telegram-icon,
    .arrow-left {
      font-size: 16px;
      color: #14286d;
      font-family: iransansMedium !important;
      margin-right: 33px;
      position: relative;
    }

    .email:before,
    .telegram-icon:before,
    .arrow-left:before {
      content: '';
      background-repeat: no-repeat;
      width: 19px;
      height: 22px;
      position: absolute;
    }

    .email:before {
      background-image: url('../../images/arrow-bottom.svg');
      right: 29px;
    }

    .telegram-icon:before {
      background-image: url('../../images/telegram-icon.svg');
      right: 32px;
      top: 5px;
    }

    .arrow-left {
      font-family: iransansLight !important;
    }

    .arrow-left:before {
      background-image: url('../../images/arrow-left.svg');
      right: 28px;
      top: 8px;
    }
  }

  .section-five {
    margin-bottom: 50px;

    .social-networks {
      text-align: left;

      .icon-link {
        border-radius: 50%;
        margin: 10px;
      }

      .twitter-bg,
      .instagram-bg,
      .telegram-bg {
        padding: 16px 8px 0 11px;
      }

      .instagram-bg {
        padding-left: 13px;
      }

      .telegram-bg {
        padding-left: 11px;
      }

      .icon {
        display: inline-block;
        transition: opacity 0.3s ease;

        &:hover {
          opacity: 0.7;
        }
      }

      .telegram,
      .instagram,
      .twitter {
        background-size: cover;
        position: relative;
        top: -1px;
        height: 20px;
        width: 25px;
      }

      .telegram {
        background-image: url('../../images/telegram.svg');
        right: 3px;
      }

      .instagram {
        background-image: url('../../images/instagram.svg');
        right: 2px;
        left: 7px;
      }

      .twitter {
        background-image: url('../../images/twitter.svg');
        right: 1px;
        left: 7px;
      }
    }

    .logo-footer {
      background-image: url('../../images/logo-footer.svg');
      background-repeat: no-repeat;
      height: 38px;
      width: 221px;
    }

    .footer-content,
    .footer-phoneNumber {
      font-size: 16px;
      color: #14286d;
      font-family: IRANSansMedium !important;
    }

    .footer-phoneNumber {
      font-size: 18px;
    }
  }

  .section-four {
    padding-bottom: 32px;
    margin-top: 50px;

    .digiyato-img,
    .rahpardakht-img,
    .peyvast-img {
      background-repeat: no-repeat;
    }

    .digiyato-img {
      background-image: url('../../images/Digiato.svg');
      height: 97px;
      width: 126px;
    }

    .rahpardakht-img {
      background-image: url('../../images/rahpardakht.svg');
      height: 50px;
      width: 142px;
    }

    .peyvast-img {
      background-image: url('../../images/peyvast.svg');
      height: 38px;
      width: 221px;
    }

    .header-title {
      font-size: 32px;
      color: #14286d;
      font-family: IRANSansBold !important;
    }
  }

  .section-two {
    margin-top: 100px !important;

    .header-title {
      font-size: 32px;
      color: #14286d;
    }

    .title-describe,
    .wage-describe,
    .describe {
      margin: auto;
      line-height: 35px;
      font-size: 16px;
      color: #050b22;
      font-family: IRANSansLight !important;
      border-bottom: none !important;
    }

    .title-describe {
      max-width: 751px;
      padding-bottom: 20px;
    }

    .wage-describe {
      max-width: 415px;
      padding-bottom: 20px;
    }

    .describe {
      text-align: right;
      padding-bottom: 20px;
    }
  }

  .divider {
    border-top: 1px solid #e5e6e7;
    width: 100%;
    margin-bottom: 24px;
    position: relative;
    top: 22px;
  }

  .icon-arrow-down {
    background: none !important;
    box-shadow: none !important;
    display: inline-block;
    font-size: 24px;
    border-radius: 100px;
    color: #14286d;
    position: relative;
    bottom: -6px;
    left: 25px;
    cursor: pointer;
    z-index: 1000;
  }

  .new-logo-white {
    background-image: url('../../images/logo-white.svg');
    background-repeat: no-repeat;
    height: 97px;
    width: 126px;
    margin: 44px auto 18px;
  }

  .responsible-img {
    background-image: url('../../images/responsible.svg');
    background-repeat: no-repeat;
    height: 103px;
    width: 121px;
    margin: 20px auto;
  }

  .header-title {
    margin-top: 10px;
  }

  .new-logo {
    height: 35px;
    width: 156px;
    margin: 44px auto 120px;
  }

  .title-describe {
    margin-top: 16px !important;
    max-width: 500px;
    padding-bottom: 87px;
    line-height: 37px;
  }

  .top-title {
    margin-bottom: 5px;
    font-size: 32px;
    color: #14286d !important;
    background-color: #fff;
    padding: 0 11px;
    border-radius: 10px;
  }

  .btn {
    font-size: 14px !important;
    color: #14286d !important;
    margin: 0 !important;
  }

  .links {
    border-radius: 21px;
    position: relative;
    top: 41px;
    background-color: #ffe422 !important;
    box-shadow: none !important;
    color: #584b00 !important;
    width: max-content;
    margin: auto;
  }

  // Margin utilities
  @for $i from 1 through 100 {
    .m-#{$i} {
      margin: #{$i}px !important;
    }
    .m-l-#{$i} {
      margin-left: #{$i}px !important;
    }
    .m-r-#{$i} {
      margin-right: #{$i}px !important;
    }
    .m-t-#{$i} {
      margin-top: #{$i}px !important;
    }
    .m-b-#{$i} {
      margin-bottom: #{$i}px !important;
    }
  }
}

@media (max-width: 575px), (min-width: 575px) and (max-width: 767px) {
  .responsible-page {
    .logo-footer {
      background-position: right !important;
      margin-bottom: 23px;
    }

    .social-networks,
    .footer-phoneNumber {
      text-align: right !important;
    }

    .section-tree,
    .section-four,
    .section-five {
      padding: 0 30px;
    }
  }
}

@media (min-width: 767px) and (max-width: 1200px) {
  .responsible-page {
    .section-tree,
    .section-four,
    .section-five {
      padding: 0 30px;

      .email {
        margin-top: -9px;
      }
    }

    .digiyato-img {
      background-image: url('../../images/Digiato.svg');
      height: 97px;
      width: 126px;
      margin: -27px auto;
    }

    .links {
      top: 20px !important;
    }
  }
}
 
