.header {
  margin: 30px 0 !important;

  .white,
  .links li,
  .links .btn-login-to-account .icon-person,
  .icon-menu {
    color: #303030 !important;
  }

  .more-menu::after {
    border-top: 4px solid #303030 !important;
  }
}
 
