// Flexbox Grid Setup
@import "~flexboxgrid-sass/flexboxgrid";

$name: xs;

@for $i from 1 through 12 {
  .col-#{$name}-offset-#{$i} {
    @include flexboxgrid-sass-col-common;
    margin-left: 0;
    margin-right: (100% / 12) * $i;
  }
}

@each $breakpoint in $breakpoints {
  $name: nth($breakpoint, 1);
  $size: nth($breakpoint, 2);

  @media only screen and (min-width: $size) {
    @for $i from 1 through $grid-columns {
      .col-#{$name}-offset-#{$i} {
        @include flexboxgrid-sass-col-common;
        margin-left: 0;
        margin-right: (100% / $grid-columns) * $i;
      }
    }
  }
}

// Responsive Utilities
@import "responsive/media";

// Common Styles
@import "./pages/variables";
@import "./pages/fonts";
@import "./pages/common";
@import "./partials/_forms";

// Layout Partials
@import "./partials/animation";
@import "./partials/header";
@import "./partials/blue_header";
@import "./partials/page_title";
@import "./partials/page_section";
@import "./partials/customer";
@import "./partials/footer";
@import "./partials/page";

// Page-Specific Styles
@import "./pages/index";
@import "./pages/contact";
@import "./pages/responsible";
@import "./pages/aboutus";
@import "./pages/prices";
@import "./pages/applications";
@import "./pages/products";
@import "./pages/faq";
@import "./pages/merchants";
@import "./pages/policy";
@import "./pages/terms";
@import "./pages/iban";
